version: 2.1

references:
  dep_key: &dep_key
              deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10.12

commands:

  build:
    description: "build all the dependencies"
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - restore_cache_dep
      - run:
          name: Install and activate virtual environment with pip
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -U .[test]
            pip install nbmake pytest-xdist
      - change_owner
      - save_cache_dep

  activate_venv:
    description: "activate virtual environment"
    steps:
      - run: . venv/bin/activate

  restore_cache_dep:
    description: "restore build caches"
    steps:
      - restore_cache:
          key: *dep_key

  save_cache_dep:
    description: "save build caches"
    steps:
      - save_cache:
          key: *dep_key
          paths:
            - "venv"

  store_artifacts_test_results:
    description: "Upload test summary for display"
    steps:
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
      - store_artifacts:
          path: cov_html

  change_owner:
    description: "change owner before saving cache"
    steps:
      - run: sudo chown -R circleci:circleci ./venv/bin
      - run: sudo chown -R circleci:circleci ./venv/lib/python3.10/site-packages

jobs:
  build_dep:
    executor: docker-executor
    steps:
      - build

  run_python_tests:
    executor: docker-executor
    steps:
      - checkout
      - restore_cache_dep
      - run:
          name: "run pytest"
          no_output_timeout: 60m
          command: |
            . venv/bin/activate
            export PYTHONUNBUFFERED=1
            python -m pytest --html=test-results/pytest_report.html --self-contained-html --cov-report html:cov_html --cov=domain_shift_kpis ./domain_shift_kpis/tests/
      - store_artifacts_test_results

  run_pylint:
    executor: docker-executor
    steps:
      - checkout
      - restore_cache_dep
      - run:
          command: |
            . venv/bin/activate
            pylint $(git ls-files '*.py')  || pylint-exit $?
            if [ $? -ne 0 ]; then
              echo "An error occurred while running pylint." >&2
              exit 1
            fi

  run_tmp:
    description: "TO BE REMOVED, FOR DEBUGGING"
    executor: docker-executor
    steps:
      - checkout
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip list
            which python
      - run: pip list
      - run: which python


workflows:
  version: 2
  build_and_test:
    jobs:
    - build_dep:
        filters:
          branches:
            ignore:
              - gh-pages

    - run_python_tests:
        requires:
          - build_dep
        filters:
          branches:
            ignore:
              - gh-pages
